@font-face
  font-family: Bebas-Neue
  src: url("../fonts/BebasNeue-Regular.woff")

body
  background-color: #F5F6F8
  overflow: hidden
  margin: 0px
  padding: 0px

// Top bar css
#title-bar
   -webkit-app-region: drag
   height: 30px
   color: #F5F6F8
   background-color: #313443

#logoRC
  position: absolute
  top: 0
  left: 0

#title
   position: fixed
   top: 5px
   left: 30px


#title-bar-btns
    -webkit-app-region: no-drag
    position: fixed
    margin: 0
    padding: 0
    top: 0
    right: 0
    width: 100px
    height: 30px

#min-btn
  position: relative
  top: 20%
  right: 5%
  height: 30px
  text-align: center
  &:hover
    cursor: pointer
    background-color: #22252E


#close-btn
  position: relative
  top: 20%
  right: 0
  height: 30px
  text-align: center
  &:hover
    cursor: pointer
    background-color: red


// End top bar css

// Body css

#cuerpo
  font-family: Bebas-Neue, sans-serif !important
  position: relative
  width: 100%
  height: 100%
  padding: 25px
  margin-left: 12%
  #cabecera
    font-size: 36px
  .smallTitle
    font-size: 20px
  #firstSteps
    font-size: 24px
  .steps
    text-decoration: underline
    font-size: 20px
  .btn
    font-family: Roboto, sans-serif
    font-size: 18px

#help-icon
  position: fixed
  top: 7%
  right: 2%
  &:hover
    cursor: pointer

.warning
  color: red

.soundItemName
  color: #F5F6F8
.soundItemShortcut
  color: #F5F6F8
.soundItemActions
  color: #F5F6F8

.material-icons
  :hover
    cursor: pointer !important

#RCStatus
  color: red

.disabled
    pointer-events: none
    opacity: 0.6
